<h1>Olá mundo {{nome}}!</h1>

<nav>
    <ul>
        <li>
            <a routerLink="/produtos" routerLinkActive="active" arialCurrentWhenActive="page">produtos</a>
        </li>
        <li>
            <a routerLink="/clientes" routerLinkActive="active" arialCurrentWhenActive="page">clientes</a>
        </li>
        <li>
            <a routerLink="/filmes" routerLinkActive="active" arialCurrentWhenActive="page">filmes</a>
        </li>
        <li>
            <a routerLink="/" routerLinkActive="active" arialCurrentWhenActive="page">home</a>
        </li>
    </ul>
</nav>

<router-outlet></router-outlet>