<h2>lista de produtos</h2>
@if(produtos.length === 0){
  <div>
    <span>nenhum produto cadastrado</span>
  </div>
}
@else {
<ul>
  <!-- foreach -->
  @for(produto of produtos; track produto){
  <li>
    <span>{{produto}}</span>
    <button (click)="editarProduto(produto)">Editar</button>
    <button (click)="apagarProduto(produto)">Apagar</button>
  </li>
  }
</ul>
}
<label for="nome">Nome</label>
<input type="text" id="nome" [(ngModel)]="nomeProduto">
<!--<button (click)="salvarProduto()">cadastrar</button>-->
<button (click)="salvarProduto()">{{tituloBotaoSalvarProduto}}</button>

@if(mensagemErro !== ""){
  <span class="mensagem-erro">Erro: {{mensagemErro}}</span>
}