<h2>digite seu nome</h2>
@if(clientes.length === 0){
<div>
    <span>não há nenhum nome cadastrado</span>
</div>
}
@else {
<ul>
    @for(cliente of clientes; track cliente){
    <li>
        <span>{{cliente}}</span>
        <button (click)="alterarCliente(cliente)">Editar</button>
        <button (click)="deletarCliente(cliente)">Apagar</button>
    </li>
    }
</ul>
}
<label for="nome">Nome</label>
<input type="text" id="nome" [(ngModel)]="nomeCliente">

<button (click)="salvarCliente()">{{tituloBotaoSalvarCliente}}</button>

@if(avisoErro !== ""){
<span class="aviso-erro">Erro: {{avisoErro}}</span>
}